<div class="container" *ngIf="alumnos.length >= 1">
  <table class="card centered bordered highlight responsive-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Facultad</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let alumno of alumnos" class="grey lighten-2">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellido}}</td>
        <td>{{alumno.email}}</td>
        <td>{{alumno.facultad['nombre']}}</td>
        <!-- <td><a (click)="editAlumnoId(item.Id)"><i class="editItem material-icons center">mode_edit</i></a></td>   -->
        <td><a href="#deleteAlumno" (click)="editAlumnoId(item.Id)"><i class="editItem material-icons center">mode_edit</i></a></td>
        <td><a href="#deleteAlumno" (click)="setAlumnosData(alumno._id)"><i class="small material-icons center red-text">delete_forever</i></a></td>
      </tr>
    </tbody>
            <ul class="pagination">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
  </table>
</div>
