<div class="container" *ngIf="alumnos.length >= 1">
  <table class="card-panel hoverable centered bordered highlight responsive-table" id="myTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Facultad</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let alumno of alumnos;let i=index" class="grey lighten-2">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellido}}</td>
        <td>{{alumno.email}}</td>
        <td>{{alumno.facultad['nombre']}}</td>
        <td><a [routerLink]="['/edit_student',alumno._id]"><i class="editItem material-icons center">mode_edit</i></a></td>
        <td><a (click)="open_modal(alumno,i)"><i class="small material-icons center red-text" style="cursor: pointer;">delete_forever</i></a></td>
      </tr>
    </tbody>

    <ul class="pagination" >

      <li class="waves-effect waves-teal"><a [routerLink]="['/administracion',prev_page]">
          <i class="material-icons">chevron_left</i></a>
      </li>
      
      <li class="waves-effect waves-teal"><a [routerLink]="['/administracion',next_page]">
          <i class="material-icons">chevron_right</i></a>
      </li>
      <!-- <div>{{count_alumnos}} de {{total_items}}</div> -->
    </ul>
    <span class="teal-text">
        Total Registros: {{total_items}}
    </span>

  </table>

  <!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Modal</a> -->
<!-- Modal Structure -->
<div id="deleteStudent" class="modal" materialize="modal" 
    [materializeParams]="[{dismissible: false}]" 
    [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 class="center-align">Eliminar Alumno</h4>
    <h6 class="center-align">Desea eliminar el Alumno <span class="red-text">{{alumno.nombre}} {{alumno.apellido}}?.</span> </h6>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="delete_alumno(alumno._id)">Yes</a>
  </div>
</div>


</div>

<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a [routerLink]="['home']" class="btn-floating blue"><i class="material-icons">home</i></a></li>
    </ul>
  </div>